body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.05rem;        
}

h1, h2, h3, h4, h5, h6, .navbar, #amora1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color:black;
}

.p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    color: grey;
    font-size: medium;
}

section{
    padding: 20px;

}

.slider2 {
    background: url("imagenes/amora1.21.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    width: 1110px;
    height: 400px;
}



#footer { 
    
    text-align: center;
    color: #ffffff !important;
    font-family: 'Oswald', sans-serif;
}

#footer a {
    color: #ffffff !important;
    font-family: 'Oswald', sans-serif;   
}

#footer a:hover {
    color: #ffffff !important;
}

#footer .list-inline .list-inline-item {
    padding: 15px  20px !important;
}


.bg-dark {
    background-color: black !important;
}
